{% extends "_base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
  {{ owner }} dashboard
{% endblock %}


{% block custom_styles %}
  <link rel="stylesheet" href='{% static "css/app.css" %}'>
{% endblock %}


{% block content %}

<div id="app">

<div id="layout" class="" v-bind:class="panel_state">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link" v-bind:class="panel_state" v-on:click='tooglePanel'>
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" class="" v-bind:class="panel_state">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">{{ user }}</a>

            <ul class="pure-menu-list">
              {% if user.is_authenticated %}
              <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'new-transaction' %}">New</a></li>
              <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="{% url 'dashboard' %}">Balance</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'login' %}">Login</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'signup' %}">Register</a></li>
                {% endif %}

            </ul>
        </div>
    </div>

    <div id="main" class="" v-bind:class="panel_state">
        <div class="header">
            <h2>{{ owner }} dashboard</h2>
        </div>
        <div class="content content-is-center">
          <div class="pure-g">

            <div class="pure-u-1">
              <h4>your {{category_label}}:</h4>
              <h2>{{ category_total|floatformat }} COP</h2>
            </div>
            {% for tx in transaction_list %}
            <detail-item
            detail_id='{{ tx.pk }}'
            detail_date='{{ tx.date|date:"d b" }}'
            detail_value="{{ tx.value|floatformat }}"
            detail_category="{{ tx.category }}"
            detail_description="{{ tx.description }}"
            v-on:display_modal="show_modal"
            ></detail-item>
            {% endfor %}

          </div>
        </div>
    </div>

    <div id="die_glucke" class="modal">
        <div class="modal-content content">
          <span class="close" v-on:click="close_modal">&times;</span>
          <div class="pure-g">
          <label for="tx_value" class="pure-u-1">valor</label>
          <input id="tx_value" type="text" v-bind:value="form_state.detail_value" class="pure-u-1">
          <label for="tx_category" class="pure-u-1">categoria</label>
          <input id="tx_category" type="text" v-bind:value="form_state.detail_category" class="pure-u-1">
          <label for="tx_description" class="pure-u-1">description</label>
          <input id="tx_description" type="text" v-bind:value="form_state.detail_description" class="pure-u-1">
          <button class="pure-u-1">Guardar</button>
        </div>
        </div>
    </div>


</div>

</div>


{% endblock %}


{% block final_scripts %}
<script type="text/javascript" src='{% static "js/detail_components.js" %}'></script>
<script type="text/javascript" src='{% static "js/inner_app.js" %}'></script>
{% endblock %}
