{% extends "_base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
  {{ owner }} dashboard
{% endblock %}

{% block content %}


<div id="app">


<div id="layout" class="" v-bind:class="panel_state">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link" v-bind:class="panel_state" v-on:click='tooglePanel'>
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" class="" v-bind:class="panel_state">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">{{ user }}</a>

            <ul class="pure-menu-list">
              {% if user.is_authenticated %}
              <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'new-transaction' %}">New</a></li>
              <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="{% url 'dashboard' %}">Balance</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'login' %}">Login</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'signup' %}">Register</a></li>
                {% endif %}

            </ul>
        </div>
    </div>

    <div id="main" class="" v-bind:class="panel_state">
        <div class="header">
            <h2>{{ owner }} dashboard</h2>
        </div>
        <div class="content content-is-center">
          <div class="pure-g">
            <div class="pure-u-1">
              <h4>your balance:</h4>
              <h2>{{ balance_report.balance|floatformat }} COP</h2>
            </div>
            <div class="pure-u-1-2">
              <p>outcome:</p>
              <h4>{{ balance_report.expenses|floatformat }} COP</h4>
            </div>
            <div class="pure-u-1-2">
              <p>income:</p>
              <h4>{{ balance_report.incomes|floatformat }} COP</h4>
            </div>
          </div>
        </div>
    </div>
</div>
</div>


{% endblock %}


{% block final_scripts %}
  <script type="text/javascript" src='{% static "js/inner_app.js" %}'></script>
{% endblock %}
